<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script
      src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <style>
      #box {
        width: 400px;
        height: 300px;
        border-style: solid;
        border-width: 2px;
      }
    </style>
    <script
      src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script src="./html2canvas.js"></script>
    <script src="./html2canvas.min.js"></script>
  </head>
  <body>
    <div
      id="capture"
      style="padding: 10px; background: #f5da55; width: 200px; height: 100px;"
    >
      <h4 style="color: #000;">Hello world!</h4>
    </div>
    <div style="width: 640px; height: 480px;" id="mapContainer"></div>
    <button id="btn">gere</button>
    <div id="box"></div>

    <script type="text/javascript" src="check.js"></script>
  </body>
</html>
